/LabWork1/LabWork1.sln
/LabWork1/.vs
/LabWork1/Binaries
/LabWork1/DerivedDataCache
/LabWork1/Intermediate
/LabWork1/Saved
/LabWork1/.vsconfig
/LabWork1/Content/Characters/Mannequins

/Labwork2/DerivedDataCache
/Labwork2/Intermediate
/Labwork2/Saved
/Labwork2/.vsconfig
/Labwork2/Labwork2.sln
/Labwork2/Labwork2_Content.rar
/Labwork2/.vs
/Labwork2/Binaries

/Labwork4/Labwork4.sln
/Labwork4/Labwork4_BaseFiles.rar
/Labwork4/.vs
/Labwork4/Binaries
/Labwork4/DerivedDataCache
/Labwork4/Intermediate
/Labwork4/Saved
/Labwork4/.vsconfig

/KillerZ/Intermediate
/KillerZ/Saved
/KillerZ/.vsconfig
/KillerZ/KillerZ.sln
/KillerZ/.vs
